<a href="https://colab.research.google.com/github/RATHAN9339/Task_1/blob/main/Task_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [250]:
#Import Libraries
import numpy as np
import pandas as pd

In [251]:
#Import Dataset
df=pd.read_csv("sales_data.csv")

In [252]:
#Print Sample Row
df.sample(5)

,Date,Day,Month,Year,Customer_Age,Age_Group,Customer_Gender,Country,State,Product_Category,Sub_Category,Product,Order_Quantity,Unit_Cost,Unit_Price,Profit,Cost,Revenue
32759,03-12-2015,3,December,2015,73.0,Seniors (64+),M,Germany,Saarland,Accessories,Helmets,"Sport-100 Helmet, Black",16.0,13.0,35,251.0,208.0,459.0
21860,28-04-2014,28,April,2014,27.0,Young Adults (25-34),M,Australia,New South Wales,Accessories,Cleaners,Bike Wash - Dissolver,14.0,3.0,8,55.0,42.0,97.0
103402,04-10-2013,4,October,2013,35.0,Adults (35-64),F,Canada,British Columbia,Accessories,Tires and Tubes,Mountain Tire Tube,12.0,2.0,5,35.0,24.0,59.0
99457,20-12-2015,20,December,2015,23.0,Youth (<25),F,United States,Washington,Accessories,Tires and Tubes,HL Road Tire,19.0,12.0,33,261.0,228.0,489.0
54817,10-01-2011,10,January,2011,28.0,Young Adults (25-34),F,Australia,South Australia,Bikes,Mountain Bikes,"Mountain-200 Silver, 38",4.0,1266.0,2320,2546.0,5064.0,7610.0

In [253]:
#Total Rows and Columns in the DataSet
df.shape

(113037, 18)

In [254]:
#Dataset Description
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 113037 entries, 0 to 113036
Data columns (total 18 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Date              113037 non-null  object
 1   Day               113037 non-null  int64
 2   Month             113037 non-null  object
 3   Year              113037 non-null  int64
 4   Customer_Age      113033 non-null  float64
 5   Age_Group         113034 non-null  object
 6   Customer_Gender   113037 non-null  object
 7   Country           113035 non-null  object
 8   State             113036 non-null  object
 9   Product_Category  113037 non-null  object
 10  Sub_Category      113036 non-null  object
 11  Product           113033 non-null  object
 12  Order_Quantity    113033 non-null  float64
 13  Unit_Cost         113036 non-null  float64
 14  Unit_Price        113037 non-null  int64
 15  Profit            113036 non-null  float64
 16  Cost              113035 non-null  float64
 17  Revenue           113036 non-null  float64
dtypes: float64(6), int64(3), object(9)
memory usage: 15.5+ MB

In [255]:
df.describe()

,Day,Year,Customer_Age,Order_Quantity,Unit_Cost,Unit_Price,Profit,Cost,Revenue
count,113037.000000,113037.000000,113033.000000,113033.000000,113036.000000,113037.000000,113036.000000,113035.000000,113036.000000
mean,15.665649,2014.401753,35.919271,11.901772,267.296180,452.934986,285.053947,469.321361,754.379552
std,8.781596,1.272514,11.021966,9.561877,549.835562,922.067866,453.888655,884.869866,1309.094204
min,1.000000,2011.000000,17.000000,1.000000,1.000000,2.000000,-30.000000,1.000000,2.000000
25%,8.000000,2013.000000,28.000000,2.000000,2.000000,5.000000,29.000000,28.000000,63.000000
50%,16.000000,2014.000000,35.000000,10.000000,9.000000,24.000000,101.000000,108.000000,223.000000
75%,23.000000,2016.000000,43.000000,20.000000,42.000000,70.000000,358.000000,432.000000,800.000000
max,31.000000,2016.000000,87.000000,32.000000,2171.000000,3578.000000,15096.000000,42978.000000,58074.000000

In [256]:
#Missing Values by Column
missing_values_count=df.isnull().sum()
print(missing_values_count)

Date                0
Day                 0
Month               0
Year                0
Customer_Age        4
Age_Group           3
Customer_Gender     0
Country             2
State               1
Product_Category    0
Sub_Category        1
Product             4
Order_Quantity      4
Unit_Cost           1
Unit_Price          0
Profit              1
Cost                2
Revenue             1
dtype: int64

In [257]:
#Total Missing Values in the Dataset
print(missing_values_count.sum())

24

In [258]:
#Fill Missing values with mean
df["Customer_Age"]=df["Customer_Age"].fillna(df["Customer_Age"].mean())
print("Total Null Values in Customer Age Column:",df["Customer_Age"].isnull().sum())

Total Null Values in Customer Age Column: 0

In [259]:
#Fill Missing values with Numeric Values like '0'
df['Age_Group']=df['Age_Group'].fillna(0)
print("Total Null Values in Age Group Column:",df["Customer_Age"].isnull().sum())

Total Null Values in Age Group Column: 0

In [260]:
#Fill the Missing values with Backward fill
df['Product']=df['Product'].bfill(axis=0)
print("Total Null Values in Product Column:",df["Product"].isnull().sum())

Total Null Values in Product Column: 0

In [261]:
#Fill the Missing values with Forward Fill
df['Order_Quantity']=df['Order_Quantity'].ffill(axis=0)
print("Total Null Values in Order Quantity Column:",df["Order_Quantity"].isnull().sum())

Total Null Values in Order Quantity Column: 0

In [262]:
df=df.dropna(axis=0)
print("Total Null Values in the Dataset:",df.isnull().sum().sum())

Total Null Values in the Dataset: 0

In [263]:
print("Total Duplicate Rows in the Dataset:",df.duplicated().sum())

Total Duplicate Rows in the Dataset: 1001

In [264]:
#Remove Duplicate Rows in the Dataset
df.drop_duplicates(inplace=True)
print("Total Duplicate Rows in the Dataset:",df.duplicated().sum())

Total Duplicate Rows in the Dataset: 0

In [265]:
#Standardize Text Values
from sklearn.preprocessing import LabelEncoder
label=LabelEncoder()
categorical=['Month','Customer_Gender','Country','State','Product_Category','Sub_Category','Product']
df[categorical]=df[categorical].apply(label.fit_transform)
df.sample(5)

,Date,Day,Month,Year,Customer_Age,Age_Group,Customer_Gender,Country,State,Product_Category,Sub_Category,Product,Order_Quantity,Unit_Cost,Unit_Price,Profit,Cost,Revenue
80141,23-02-2016,23,3,2016,36.0,Adults (35-64),0,5,6,0,14,52,4.0,1.0,2,4.0,4.0,8.0
77363,21-04-2016,21,0,2016,22.0,Youth (<25),1,5,50,0,14,52,31.0,1.0,2,17.0,31.0,48.0
59340,23-06-2014,23,6,2014,30.0,Young Adults (25-34),1,3,29,1,11,60,1.0,2171.0,3578,942.0,2171.0,3113.0
1695,27-03-2016,27,7,2016,30.0,Young Adults (25-34),1,5,6,0,2,126,22.0,2.0,5,64.0,44.0,108.0
25898,06-10-2013,6,10,2013,35.0,Adults (35-64),0,0,26,0,5,6,8.0,8.0,22,89.0,64.0,153.0

In [266]:
# Convert DATE to datetime format, handling different formats
df['Date'] = pd.to_datetime(df['Date'], errors='coerce')

# Format all valid dates to dd-mm-yyyy
df['Date'] = df['Date'].dt.strftime('%y/%m/%d')

# Print the updated DataFrame
print(df['Date'].head())

<ipython-input-266-0650e02aab1d>:2: UserWarning: Parsing dates in %d-%m-%Y format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  df['Date'] = pd.to_datetime(df['Date'], errors='coerce')

0    13/11/26
1    15/11/26
2    14/03/23
3    16/03/23
4    14/05/15
Name: Date, dtype: object

In [267]:
#Clean and Rename the Columns
df.columns=(df.columns.str.strip().str.lower().str.replace(' ','_'))
df.columns

Index(['date', 'day', 'month', 'year', 'customer_age', 'age_group',
       'customer_gender', 'country', 'state', 'product_category',
       'sub_category', 'product', 'order_quantity', 'unit_cost', 'unit_price',
       'profit', 'cost', 'revenue'],
      dtype='object')

In [268]:
#Check the Datatypes of the each column
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 112027 entries, 0 to 113035
Data columns (total 18 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   date              111990 non-null  object
 1   day               112027 non-null  int64
 2   month             112027 non-null  int64
 3   year              112027 non-null  int64
 4   customer_age      112027 non-null  float64
 5   age_group         112027 non-null  object
 6   customer_gender   112027 non-null  int64
 7   country           112027 non-null  int64
 8   state             112027 non-null  int64
 9   product_category  112027 non-null  int64
 10  sub_category      112027 non-null  int64
 11  product           112027 non-null  int64
 12  order_quantity    112027 non-null  float64
 13  unit_cost         112027 non-null  float64
 14  unit_price        112027 non-null  int64
 15  profit            112027 non-null  float64
 16  cost              112027 non-null  float64
 17  revenue           112027 non-null  float64
dtypes: float64(6), int64(10), object(2)
memory usage: 16.2+ MB

In [269]:
#Fixed the Date datatype
df["date"]=pd.to_datetime(df["date"])
df.info()

<ipython-input-269-520676988ac2>:2: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df["date"]=pd.to_datetime(df["date"])

<class 'pandas.core.frame.DataFrame'>
Index: 112027 entries, 0 to 113035
Data columns (total 18 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   date              111990 non-null  datetime64[ns]
 1   day               112027 non-null  int64
 2   month             112027 non-null  int64
 3   year              112027 non-null  int64
 4   customer_age      112027 non-null  float64
 5   age_group         112027 non-null  object
 6   customer_gender   112027 non-null  int64
 7   country           112027 non-null  int64
 8   state             112027 non-null  int64
 9   product_category  112027 non-null  int64
 10  sub_category      112027 non-null  int64
 11  product           112027 non-null  int64
 12  order_quantity    112027 non-null  float64
 13  unit_cost         112027 non-null  float64
 14  unit_price        112027 non-null  int64
 15  profit            112027 non-null  float64
 16  cost              112027 non-null  float64
 17  revenue           112027 non-null  float64
dtypes: datetime64[ns](1), float64(6), int64(10), object(1)
memory usage: 16.2+ MB

In [270]:
df.head()

,date,day,month,year,customer_age,age_group,customer_gender,country,state,product_category,sub_category,product,order_quantity,unit_cost,unit_price,profit,cost,revenue
0,2026-11-13,26,9,2013,19.0,Youth (<25),1,1,5,0,0,12,8.0,45.0,120,590.0,360.0,950.0
1,2026-11-15,26,9,2015,19.0,Youth (<25),1,1,5,0,0,12,8.0,45.0,120,590.0,360.0,950.0
2,2023-03-14,23,7,2014,49.0,Adults (35-64),1,0,26,0,0,12,23.0,45.0,120,1366.0,1035.0,2401.0
3,2023-03-16,23,7,2016,49.0,Adults (35-64),1,0,26,0,0,12,20.0,45.0,120,1188.0,900.0,2088.0
4,2015-05-14,15,8,2014,47.0,Adults (35-64),0,0,26,0,0,12,4.0,45.0,120,238.0,180.0,418.0

In [271]:
df.to_csv('cleaned_sales_data.csv', index=False)