<a href="https://colab.research.google.com/github/RATHAN9339/Task_1/blob/main/Task_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [207]:
#Import Libraries
import numpy as np
import pandas as pd

In [208]:
#Import Dataset
df=pd.read_csv("sales_data.csv")

In [209]:
#Print Sample Row
df.sample(5)

,Date,Day,Month,Year,Customer_Age,Age_Group,Customer_Gender,Country,State,Product_Category,Sub_Category,Product,Order_Quantity,Unit_Cost,Unit_Price,Profit,Cost,Revenue
111808,23-12-2013,23,December,2013,29.0,Young Adults (25-34),M,United States,California,Bikes,Touring Bikes,"Touring-3000 Blue, 54",1.0,461.0,742,266.0,461.0,727.0
43165,30-05-2016,30,May,2016,63.0,Adults (35-64),F,Canada,British Columbia,Accessories,Hydration Packs,Hydration Pack - 70 oz.,20.0,21.0,55,669.0,420.0,1089.0
21539,06-09-2015,6,September,2015,37.0,Adults (35-64),F,Australia,Queensland,Accessories,Cleaners,Bike Wash - Dissolver,9.0,3.0,8,33.0,27.0,60.0
110999,08-09-2015,8,September,2015,30.0,Young Adults (25-34),M,United States,Washington,Bikes,Touring Bikes,"Touring-3000 Blue, 44",1.0,461.0,742,118.0,461.0,579.0
6087,05-05-2014,5,May,2014,55.0,Adults (35-64),M,Canada,British Columbia,Accessories,Bottles and Cages,Water Bottle - 30 oz.,4.0,2.0,5,12.0,8.0,20.0

In [210]:
#Total Rows and Columns in the DataSet
df.shape

(113037, 18)

In [211]:
#Dataset Description
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 113037 entries, 0 to 113036
Data columns (total 18 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Date              113037 non-null  object
 1   Day               113037 non-null  int64
 2   Month             113037 non-null  object
 3   Year              113037 non-null  int64
 4   Customer_Age      113033 non-null  float64
 5   Age_Group         113034 non-null  object
 6   Customer_Gender   113037 non-null  object
 7   Country           113035 non-null  object
 8   State             113036 non-null  object
 9   Product_Category  113037 non-null  object
 10  Sub_Category      113036 non-null  object
 11  Product           113033 non-null  object
 12  Order_Quantity    113033 non-null  float64
 13  Unit_Cost         113036 non-null  float64
 14  Unit_Price        113037 non-null  int64
 15  Profit            113036 non-null  float64
 16  Cost              113035 non-null  float64
 17  Revenue           113036 non-null  float64
dtypes: float64(6), int64(3), object(9)
memory usage: 15.5+ MB

In [212]:
#Missing Values by Column
missing_values_count=df.isnull().sum()
print(missing_values_count)

Date                0
Day                 0
Month               0
Year                0
Customer_Age        4
Age_Group           3
Customer_Gender     0
Country             2
State               1
Product_Category    0
Sub_Category        1
Product             4
Order_Quantity      4
Unit_Cost           1
Unit_Price          0
Profit              1
Cost                2
Revenue             1
dtype: int64

In [213]:
#Total Missing Values in the Dataset
print(missing_values_count.sum())

24

In [214]:
#Fill Missing values with mean
df["Customer_Age"]=df["Customer_Age"].fillna(df["Customer_Age"].mean())
print("Total Null Values in Customer Age Column:",df["Customer_Age"].isnull().sum())

Total Null Values in Customer Age Column: 0

In [215]:
#Fill Missing values with Numeric Values like '0'
df['Age_Group']=df['Age_Group'].fillna(0)
print("Total Null Values in Age Group Column:",df["Customer_Age"].isnull().sum())

Total Null Values in Age Group Column: 0

In [216]:
#Fill the Missing values with Backward fill
df['Product']=df['Product'].bfill(axis=0)
print("Total Null Values in Product Column:",df["Product"].isnull().sum())

Total Null Values in Product Column: 0

In [217]:
#Fill the Missing values with Forward Fill
df['Order_Quantity']=df['Order_Quantity'].ffill(axis=0)
print("Total Null Values in Order Quantity Column:",df["Order_Quantity"].isnull().sum())

Total Null Values in Order Quantity Column: 0

In [218]:
df=df.dropna(axis=0)
print("Total Null Values in the Dataset:",df.isnull().sum().sum())

Total Null Values in the Dataset: 0

In [219]:
print("Total Duplicate Rows in the Dataset:",df.duplicated().sum())

Total Duplicate Rows in the Dataset: 1001

In [220]:
#Remove Duplicate Rows in the Dataset
df.drop_duplicates(inplace=True)
print("Total Duplicate Rows in the Dataset:",df.duplicated().sum())

Total Duplicate Rows in the Dataset: 0

In [221]:
#Standardize Text Values
from sklearn.preprocessing import LabelEncoder
label=LabelEncoder()
categorical=['Month','Customer_Gender','Country','State','Product_Category','Sub_Category','Product']
df[categorical]=df[categorical].apply(label.fit_transform)
df.sample(5)

,Date,Day,Month,Year,Customer_Age,Age_Group,Customer_Gender,Country,State,Product_Category,Sub_Category,Product,Order_Quantity,Unit_Cost,Unit_Price,Profit,Cost,Revenue
23083,20-10-2015,20,10,2015,39.0,Adults (35-64),1,1,5,0,4,2,1.0,3.0,8,5.0,3.0,8.0
95158,29-08-2013,29,1,2013,21.0,Youth (<25),1,5,6,0,14,23,10.0,2.0,5,29.0,20.0,49.0
65465,13-12-2015,13,2,2015,35.0,Adults (35-64),1,0,26,1,11,67,1.0,1519.0,2443,606.0,1519.0,2125.0
71603,01-03-2016,1,7,2016,19.0,Youth (<25),1,0,35,2,12,127,1.0,26.0,70,33.0,26.0,59.0
23396,01-08-2013,1,1,2013,23.0,Youth (<25),0,5,6,0,5,6,1.0,8.0,22,14.0,8.0,22.0

In [222]:
# Convert ORDERDATE to datetime format, handling different formats
df['Date'] = pd.to_datetime(df['Date'], errors='coerce')

# Format all valid dates to dd-mm-yyyy
df['Date'] = df['Date'].dt.strftime('%y/%m/%d')

# Print the updated DataFrame
print(df['Date'].head())

<ipython-input-222-b32ee6d3ef09>:2: UserWarning: Parsing dates in %d-%m-%Y format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  df['Date'] = pd.to_datetime(df['Date'], errors='coerce')

0    13/11/26
1    15/11/26
2    14/03/23
3    16/03/23
4    14/05/15
Name: Date, dtype: object

In [223]:
#Clean and Rename the Columns
df.columns=(df.columns.str.strip().str.lower().str.replace(' ','_'))
df.columns

Index(['date', 'day', 'month', 'year', 'customer_age', 'age_group',
       'customer_gender', 'country', 'state', 'product_category',
       'sub_category', 'product', 'order_quantity', 'unit_cost', 'unit_price',
       'profit', 'cost', 'revenue'],
      dtype='object')

In [224]:
#Check the Datatypes of the each column
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 112027 entries, 0 to 113035
Data columns (total 18 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   date              111990 non-null  object
 1   day               112027 non-null  int64
 2   month             112027 non-null  int64
 3   year              112027 non-null  int64
 4   customer_age      112027 non-null  float64
 5   age_group         112027 non-null  object
 6   customer_gender   112027 non-null  int64
 7   country           112027 non-null  int64
 8   state             112027 non-null  int64
 9   product_category  112027 non-null  int64
 10  sub_category      112027 non-null  int64
 11  product           112027 non-null  int64
 12  order_quantity    112027 non-null  float64
 13  unit_cost         112027 non-null  float64
 14  unit_price        112027 non-null  int64
 15  profit            112027 non-null  float64
 16  cost              112027 non-null  float64
 17  revenue           112027 non-null  float64
dtypes: float64(6), int64(10), object(2)
memory usage: 16.2+ MB

In [225]:
#Fixed the Date datatype
df["date"]=pd.to_datetime(df["date"])
df.info()

<ipython-input-225-520676988ac2>:2: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df["date"]=pd.to_datetime(df["date"])

<class 'pandas.core.frame.DataFrame'>
Index: 112027 entries, 0 to 113035
Data columns (total 18 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   date              111990 non-null  datetime64[ns]
 1   day               112027 non-null  int64
 2   month             112027 non-null  int64
 3   year              112027 non-null  int64
 4   customer_age      112027 non-null  float64
 5   age_group         112027 non-null  object
 6   customer_gender   112027 non-null  int64
 7   country           112027 non-null  int64
 8   state             112027 non-null  int64
 9   product_category  112027 non-null  int64
 10  sub_category      112027 non-null  int64
 11  product           112027 non-null  int64
 12  order_quantity    112027 non-null  float64
 13  unit_cost         112027 non-null  float64
 14  unit_price        112027 non-null  int64
 15  profit            112027 non-null  float64
 16  cost              112027 non-null  float64
 17  revenue           112027 non-null  float64
dtypes: datetime64[ns](1), float64(6), int64(10), object(1)
memory usage: 16.2+ MB

In [226]:
df.head()

,date,day,month,year,customer_age,age_group,customer_gender,country,state,product_category,sub_category,product,order_quantity,unit_cost,unit_price,profit,cost,revenue
0,2026-11-13,26,9,2013,19.0,Youth (<25),1,1,5,0,0,12,8.0,45.0,120,590.0,360.0,950.0
1,2026-11-15,26,9,2015,19.0,Youth (<25),1,1,5,0,0,12,8.0,45.0,120,590.0,360.0,950.0
2,2023-03-14,23,7,2014,49.0,Adults (35-64),1,0,26,0,0,12,23.0,45.0,120,1366.0,1035.0,2401.0
3,2023-03-16,23,7,2016,49.0,Adults (35-64),1,0,26,0,0,12,20.0,45.0,120,1188.0,900.0,2088.0
4,2015-05-14,15,8,2014,47.0,Adults (35-64),0,0,26,0,0,12,4.0,45.0,120,238.0,180.0,418.0